body {
  .nav-diseño {
    color: $bg-color-secundario;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
  }
  .nav-diseño:hover {
    color: $bg-color-hover;
  }
  .boton--estilo {
    background-color: $color-boton;
    color: $bg-color-primario;
    font-weight: 600;
  }
  .boton--estilo:hover {
    color: $color-boton;
    background-color: $bg-color-primario;
  }
}
