$bg-color-primario: #ff5e6c;
$bg-color-secundario: #fc8621;
$bg-color-hover: #c24914;
$fuente-primaria: "Oswald", sans-serif;
$fuente-secundaria: "Roboto Slab", sans-serif;
$color-header: #eacda3;
$color-main: #f9e0ae;
$color-footer: #f5b65e;
$color-card: #fad68d;
$color-boton: #ffaa00;
$color-contenedor1: #ff2f41;
$color-contenedor2: rgb(255, 255, 255);
